.button {
  border-radius: 6px;
  border: none;
  padding: 14px 25px;
  width: 185px;
  height: 50px;
  background: var(--color-red);
  
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  &:hover{
    background: var(--color-tomato);
  }
}

